@import "tailwindcss";

@theme {
  --color-kuku-yellow: #FFC107;
  --color-kuku-green: #8A9A5B;
  --color-kuku-black: #000000;
  --color-kuku-white: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}